#example2_paginate{
    margin-top:10px !important;
    float: none !important;
    text-align:center;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding:10px !important;
    color:#007bff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
   background: #007bff !important;
   border:none  !important;
   
}